
<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./css/product-add.css">

</head>
<body>
    <h1>Agregar productos</h1>
    <div class="container d-flex justify-content-center">
        <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"> <img src="images/computadoras/McBookAir.jpg"> </a>
            <figcaption class="info-wrap">
                <div class="row">
                    <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">McBookAir</a> <span class="rated">Laptops</span> </div>
                    <div class="col-md-3 col-xs-3">
                        <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <span class="rated">Rated 4.0/5</span> </div>
                    </div>
                </div>
            </figcaption>
            <div class="bottom-wrap-payment">
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">$3,999</a> <span class="rated">VISA Platinum</span> </div>
                        <div class="col-md-3 col-xs-3">
                            <div class="rating text-right"> #### 8787 </div>
                        </div>
                    </div>
                </figcaption>
            </div>
            <div class="bottom-wrap"> <a href="#" class="btn btn-primary float-right" data-abc="true"> Comprar ahora </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"> Cancelar </a> </div>
            </div>
        </figure>
    </div>
	<div class="container d-flex justify-content-center">
        <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"> <img src="/images/computadoras/acerAspire.jpg"> </a>
            <figcaption class="info-wrap">
                <div class="row">
                    <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">AcerAspire</a> <span class="rated">Laptops</span> </div>
                    <div class="col-md-3 col-xs-3">
                        <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <span class="rated">Rated 4.0/5</span> </div>
                    </div>
                </div>
            </figcaption>
            <div class="bottom-wrap-payment">
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">$3,999</a> <span class="rated">VISA Platinum</span> </div>
                        <div class="col-md-3 col-xs-3">
                            <div class="rating text-right"> #### 8787 </div>
                        </div>
                    </div>
                </figcaption>
            </div>
            <div class="bottom-wrap"> <a href="#" class="btn btn-primary float-right" data-abc="true"> Comprar ahora </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"> Cancelar </a> </div>
            </div>
        </figure>
    </div>
	<div class="container d-flex justify-content-center">
        <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"> <img src="images/computadoras/lenovo2DCF480SSD.JPG"> </a>
            <figcaption class="info-wrap">
                <div class="row">
                    <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">Lenovo 2DCF</a> <span class="rated">Laptops</span> </div>
                    <div class="col-md-3 col-xs-3">
                        <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <span class="rated">Rated 4.0/5</span> </div>
                    </div>
                </div>
            </figcaption>
            <div class="bottom-wrap-payment">
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">$3,999</a> <span class="rated">VISA Platinum</span> </div>
                        <div class="col-md-3 col-xs-3">
                            <div class="rating text-right"> #### 8787 </div>
                        </div>
                    </div>
                </figcaption>
            </div>
            <div class="bottom-wrap"> <a href="#" class="btn btn-primary float-right" data-abc="true"> Comprar ahora </a>
                <div class="price-wrap"> <a href="#" class="btn btn-warning float-left" data-abc="true"> Cancelar </a> </div>
            </div>
        </figure>
    </div>
</body>

<%- include("partials/footer.ejs")%>


</html>